@media (min-width: 0px) and (max-width: 767px) {
	.product-cart{
		display: flex;
	}
	.product-cart td{
		border:none!important;
	}
	.product-cart tr{
		display: flex !important;
	}
	.woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td.product-cart__img{
		display: flex !important;
	}

	.product-cart__img:before{
		content: none !important;
	}
	.product-cart .product-cart__img a img{
		width: 100px;
		height: 100px;
		border-radius: 10px;
	}
	.remover-product{
		position: absolute !important;
		right: 0 !important;
		
	}
	.woocommerce .remover-product a.remove{
		color: #2d2d2d !important;
	}
	.woocommerce .remover-product a.remove:hover{
		background: #2d2d2d !important;
	}
	.product-cart .product-name:before{
		content: none !important;
	}
	.details-product{
		display: flex !important;
		flex-direction: column;
		padding-left: 15px;
	}
	.details-product .product-name a{
		color: #2d2d2d;
		font-weight: 600;
		font-size: 18px;
	}
	.details-product .product-name p{
		margin: 0;
		font-size: 12px;
	}
	.details-product .product-price{
		font-weight: 600;
	}
	.details-product .product-quantity .quantity input{
		height: 30px !important;
		font-size: 17px !important;
		border: none;
		width: 25px !important;
	}
	.details-product .product-quantity .quantity input:nth-child(2){
		background: #2d2d2d !important;
		color: #fff !important;
		border-radius: 5px 0 0 5px;
	}
	.details-product .product-quantity .quantity input:nth-child(3){
		font-size: 18px !important;
		margin-right: -5px;
		margin-left: -4px;
		border: 1px solid #2d2d2d !important;
		width: 30px !important;
	}
	.details-product .product-quantity .quantity input:nth-child(4){
		background: #2d2d2d !important;
		color: #fff !important;
		border-radius: 0 5px 5px 0;
	}
	.oferta-cart{
		background: #f75b75 !important;
		padding: 12px ;
	}
	.oferta-cart p{
		color: #fff;
		font-size: 14px;
		margin: 0;
		text-align: center;
		font-weight: 500;
	}
	.cupon-cart{
		display: flex;
	}
	.cupon-cart input{
		width: 100% !important;
		padding: 12px 5px !important;
		border-radius: 5px 0 0 5px;
		border: 1px solid #d2d2d2;
		font-size: 12px !important;
	}
	.cupon-cart button{
		background: #2d2d2d !important;
		color: #fff !important;
		border: none;
		border-radius: 0 5px 5px 0;
		font-size: 13px !important;
		font-weight: 700;
	}
	.total-cart{
		padding: 15px initial;
	}
	.total-cart table{
		width: 100%;
		display: flex;
		padding: 15px 0;
	}
	.total-cart table tbody{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.total-cart table tbody tr{
		display: flex; 
		justify-content: space-between;
	}
	.total-cart table tbody .cart-subtotal th{
		font-weight: 300;
	}
	.boton-checkout__cart{
		background: #2d2d2d !important;
		text-align: center;
		border-radius: 5px;
		padding: 8px;
	}
	.boton-checkout__cart a{
		color: #fff;
		font-weight: 500;
		font-size: 16px;
		text-transform: uppercase;
	}
}