@media (min-width: 0px) and (max-width: 767px) {
	.product-cart{
		display: flex;
		padding-bottom: 20px;
		border-bottom: 1px solid #d2d2d2;
		position: relative;
	}
	.product-cart td{
		border:none!important;
	}
	.product-cart tr{
		display: flex !important;
	}
	.woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td.product-cart__img{
		display: flex !important;
	}

	.product-cart__img:before{
		content: none !important;
	}
	.product-cart .product-cart__img{
		position: relative;
	}
	.product-cart .product-cart__img a img{
		width: 100px;
		height: 100px;
		border-radius: 10px;
		box-shadow: 0px 0px 3px 0px rgba(70, 70, 70, 0.92);
	}

	.remover-product{
		position: absolute !important;
		right: 0 !important;
		bottom: 90%
		
	}
	.woocommerce .product-cart .remover-product a.remove{
		color: #2d2d2d !important;
	}
	.woocommerce .remover-product a.remove:hover{
		background: #2d2d2d !important;
	}
	.woocommerce .product-cart .product-cart__img .remover-product__img a.remover{
		color: #fff !important;
	}
	.product-cart .product-name:before{
		content: none !important;
	}
	.details-product{
		display: flex !important;
		flex-direction: column;
		padding-left: 15px;
	}
	.details-product .product-name a{
		color: #2d2d2d;
		font-weight: 600;
		font-size: 18px;
	}
	.details-product .product-name p{
		margin: 0;
		font-size: 12px;
	}
	.details-product .product-price{
		font-weight: 600;
	}
	.quantity input{
		height: 36px !important;
		font-size: 17px !important;
		border: none;
		width: 33px !important;
	}
	.quantity input:nth-child(2){
		background: #2d2d2d !important;
		color: #fff !important;
		border-radius: 5px 0 0 5px;
	}
	.quantity input:nth-child(3){
		font-size: 18px !important;
		margin-right: -5px;
		margin-left: -4px;
		border: 1px solid #2d2d2d !important;
		width: 30px !important;
		border-radius: 0px !important;
	}
	.quantity input:nth-child(4){
		background: #2d2d2d !important;
		color: #fff !important;
		border-radius: 0 5px 5px 0;
	}
	.product-details__text .quantity input:nth-child(2){
		background: #46362b !important;
		color: #fff !important;
		border-radius: 5px 0 0 5px;
	}
	.product-details__text .quantity input:nth-child(3){
		font-size: 18px !important;
		margin-right: -5px;
		margin-left: -4px;
		border: 1px solid #46262b !important;
		width: 30px !important;
	}
	.product-details__text .quantity input:nth-child(4){
		background: #46362b !important;
		color: #fff !important;
		border-radius: 0 5px 5px 0;
	}
	#variation_pa_color{
		display: flex !important;
		flex-direction: column !important;
	}
	.woocommerce-tabs.wc-tabs-wrapper{
		margin-top: 2rem !important;
	}

	.variations .value {
		margin-left: 0 !important;
	}
	h1.product_title.entry-title{
		display: none !important;
	}
	h1.title__products{
		font-family: Muli;
		font-size: 18px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.44;
		letter-spacing: normal;
		text-align: left;
		color: #46362b;
	}
	p.description__products{
		font-family: Muli;
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.63;
		letter-spacing: normal;
		text-align: left;
		color: #575757;
	}

	.main-share__products{
		box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.08);
		background-color: #ffffff;
		padding: 0.5rem 0rem 0.5rem 1rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.main-share__producticons{
		display: flex;
	}
	.main-share__productsbtn{
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-top: 1rem;
	}
	.main-share__productsbtn a{
		display: flex;
		align-items: center;
	}
	.main-share__productsbtn a i{
		margin-left: 0.5rem;
	}
	.main-notes__products{
		margin-top: 1rem;
	}
	.main-notes__products ul{
		list-style: none;
		padding-left: 0;
	}
	.main-notes__products ul li{
		display: flex;
		align-items: center;
		margin-bottom: 0.5rem;
	}
	.main-notes__products ul li p{
		margin-bottom: 0;
		margin-left: 5px;
	}
	.main-notes__products ul li p a{
		font-weight: 600;
		color: #f75b75;
	}
	.nav.nav-tabs{
		justify-content: space-between;
	}
	.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
		background-color: #fff;
		border-color: transparent transparent #f65d77;
		border-bottom: 2px solid #f65d77 !important;
		text-transform: uppercase !important;
		color: #f65d77 !important;
		padding: 1px 5px 1rem 0;
		font-size: 13px !important;
	}
	.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
		text-transform: uppercase !important;
		font-size: 13px !important;
		color: #46362b !important;
		border-color: transparent transparent transparent;
		border-bottom: 2px solid transparent !important;
		text-transform: uppercase !important;
		padding: 1px 5px 1rem 0;
		font-size: 13px !important;
	}
	.main-descriptionstab__products .tab-content{
		margin-top: 1rem;
	}
	.main-descriptionstab__product p{
		font-family: Muli;
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.57;
		letter-spacing: normal;
		text-align: left;
		color: #46362b;
	}
	.product_meta{
		display: none !important;
	}
	.variations {
		height: 85px;
	}
	.variations .label {
		width: 100% !important;
	}
	.variations .value .variation_button.unselected span.phoen_swatches {
		border: 2px solid transparent !important;
		box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.0) !important;
		border-radius: 3px !important;
	}
	.variations .value .variation_button.selected span.phoen_swatches {
		border: transparent solid 2px !important;
		box-shadow: 0 0 1px 2px rgba(0,0,0,.9);
		border-radius: 1px;
	}
	.summary.entry-summary.product-details__text{
		box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
		margin-top: 1rem;
		padding: 1rem;
	}
	ins span.woocommerce-Price-amount.amount{
		font-family: Muli;
		font-size: 20px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 0.9;
		letter-spacing: normal;
		text-align: left;
		color: #46362b;
	}
	del span.woocommerce-Price-amount.amount {
		font-family: Muli;
		font-size: 14px;
		font-weight: normal;
		color: rgba(70, 54, 43, 0.5);
	}
	.ur-frontend-form .ur-form-row .ur-form-grid .ur-field-item.field-checkbox ul, .ur-frontend-form .ur-form-row .ur-form-grid .ur-field-item.field-radio ul {
		margin: 0;
		list-style: none;
		display: flex !important;
		justify-content: space-around !important;
		align-items: center !important;
	}
	.ur-frontend-form .ur-form-row .ur-form-grid .ur-field-item.field-checkbox ul li, .ur-frontend-form .ur-form-row .ur-form-grid .ur-field-item.field-radio ul li {
	
		margin-bottom: 0px !important;
	}
	#radio_1590373895_field ul{
		padding-left: 0 !important;
	}
	#radio_1590373895_field ul li:nth-child(1){
		margin-right: 5px;
	}

	.ur-frontend-form .ur-button-container .ur-submit-button{
		margin-left: 0;
		margin-right: 0;
		color: #fff;
		background-color: #000;
		border: 1px solid #000;
		transition: 0.3s ease-in-out;
		text-decoration: none;
		width: 100%;
		display: flex;
		justify-content: center;
		min-width: 105px;
		font-size: 14px;
		display: inline-block;
		font-size: 14px;
		letter-spacing: 0;
		font-weight: 600;
		outline: 0;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border-radius: 5px;
		-webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
		-o-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
		transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
		padding: 13px 50px;
		cursor: pointer;
		text-transform: uppercase;
		font-family: Muli;
	}
	.ur-frontend-form .ur-button-container{
		padding: 5px !important;
	}
	.tabs.wc-tabs{
		padding-left: 0 !important;
		list-style: none !important;
		display: flex !important;
		justify-content: space-between !important;
		border-bottom: 1px solid rgba(158, 158, 158, 0.34) !important;
		padding-bottom: 1rem !important;
	}
	.description_tab.active a{
		font-family: Muli !important;
		font-size: 12px !important;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.25;
		letter-spacing: normal;
		text-align: left;
		color: #f75b75 !important;
		text-transform: uppercase !important;
		border-bottom: 2px solid #f65d77 !important;
		padding-bottom: 1.2rem !important;
	}

	.additional_information_tab a,.reviews_tab a{
		font-family: Muli !important;
		font-size: 12px !important;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.25;
		letter-spacing: normal;
		text-align: left;
		color: #46362b !important;
		text-transform: uppercase !important;
	}
	.oferta-cart{
		background: #f75b75 !important;
		padding: 12px ;
	}
	.oferta-cart p{
		color: #fff;
		font-size: 14px;
		margin: 0;
		text-align: center;
		font-weight: 500;
	}
	.cupon-cart{
		display: flex;
	}
	.cupon-cart input{
		width: 100% !important;
		padding: 12px 5px !important;
		border-radius: 5px 0 0 5px;
		border: 1px solid #d2d2d2;
		font-size: 12px !important;
	}
	.cupon-cart button{
		background: #2d2d2d !important;
		color: #fff !important;
		border: none;
		border-radius: 0 5px 5px 0;
		font-size: 13px !important;
		font-weight: 700;
	}
	.total-cart{
		padding: 15px initial;
	}
	.total-cart table{
		width: 100%;
		display: flex;
		padding: 20px 0;
	}
	.total-cart table tbody{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.total-cart table tbody tr{
		display: flex; 
		justify-content: space-between;
	}
	.total-cart table tbody .cart-subtotal th{
		font-weight: 300;
	}
	.boton-checkout__cart{
		background: #2d2d2d !important;
		text-align: center;
		border-radius: 5px;
		padding: 10px;
	}
	.boton-checkout__cart a{
		color: #fff;
		font-weight: 500;
		font-size: 15px;
		text-transform: uppercase;
	}
	.regresar-product{
		border: 1px solid #2d2d2d;
		border-radius: 5px;
		width: 100%;
		padding: 10px;
		text-align: center;
		margin-top: 50px;
	}
	.regresar-product a{
		color: #2d2d2d;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 15px;
	}
	.top-cart{
		background: #f2f2f2;
		padding:12px;
		text-align: center;
		margin-bottom: 50px;
	}
	.top-cart p{
		font-size: 18px;
		color: #2d2d2d;
		margin: 0;
		font-weight: 700;
	}
	.top-cart p span{
		color: #47abb3
	}
	.product-details .woocommerce-product-gallery figure a img{
		width: 100% !important;
	}
	.product-details span.onsale{
		display: none;
	}
	.site-main{
		position: relative !important;
	}
	.woocommerce-breadcrumb{
		position: absolute !important;
		font-size: 14px;
		top: 20px;
		left: 20px;
		color: #000;
		font-weight: 600;
	}
	.woocommerce-breadcrumb a{
		color: #9b9b9b;
		text-decoration: underline;
	}
	.product-details__referidos{
		display: grid;
		grid-template-columns:55% 45%;
	}
	.link-referidos{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.link-referidos a{
		color: #46262b;
		text-decoration: underline;
	}
	.link-referidos small{
		font-size: 10px;
	}
	.redes-referidos{
		display: flex;
		justify-content: space-around;
	}
	.product-details__text h1.product_title.entry-title{
		font-size: 1.6rem !important;
		color: #46262b;
	}
	.product-details__text .woocommerce-product-details__short-description{
		font-size: 16px;
		color: #46262b;
	}
	.product-details__text .price{
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		font-size: 1.2rem;
		font-weight: 600;
		color: #46262b;
		align-items: center;
	}
	.product-details__text .price del{
		font-size: .8rem;
		margin-left: 20px;
	}
	.product-details__text form button{
		background: #f65d77;
		width: 100%;
		padding:10px;
		color: #fff;
		border: none;
		border-radius: 5px;
		margin-top: 50px;
		line-height: 1px;
		text-transform: uppercase;
	}


	.main_content-categories-w{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 15px;
	}


	.form-row-sesion{
		display: flex !important;
		justify-content: space-between !important;
		padding: 0 0.5rem;
	}

	.sign-up-footer{
		background-color: transparent !important;
	}
	.form-row-sesion .forgot{
		font-family: Muli !important;
		font-size: 15px !important;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.71;
		letter-spacing: normal;
		text-align: right;
		color: #f75b75 !important;
	}

	.ur-frontend-form{
		padding: 0 !important;
		border: 1px solid transparent !important;
	}
	input#user_login, input#user_pass,
	#mc-input, #user_email, #user_login,
	.ur-frontend-form .ur-form-row .ur-form-grid .hide_show_password input[type=password]{
		font-family: Muli;
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.29;
		letter-spacing: normal;
		text-align: left;
		border: 1px solid #ced4da;
		  border-radius: .25rem;
		height: 45px !important;
		width: 100%;
		margin-bottom: 0;
	}
	.password-input-group{
		width: 100% !important;
	}
	.ur-frontend-form .ur-form-row .ur-form-grid input[readonly], .ur-frontend-form .ur-form-row .ur-form-grid select[readonly], .ur-frontend-form .ur-form-row .ur-form-grid textarea[readonly] {
		cursor: auto;
		border-radius: 0.25em !important;
	}
	
	.ur-frontend-form .ur-form-row .ur-form-grid input[type=date], .ur-frontend-form .ur-form-row .ur-form-grid input[type=email], .ur-frontend-form .ur-form-row .ur-form-grid input[type=number], .ur-frontend-form .ur-form-row .ur-form-grid input[type=password], .ur-frontend-form .ur-form-row .ur-form-grid input[type=phone], .ur-frontend-form .ur-form-row .ur-form-grid input[type=text], .ur-frontend-form .ur-form-row .ur-form-grid input[type=timepicker], .ur-frontend-form .ur-form-row .ur-form-grid input[type=url], .ur-frontend-form .ur-form-row .ur-form-grid select, .ur-frontend-form .ur-form-row .ur-form-grid textarea{
		min-height: 45px !important;
		font-family: Muli;
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.29;
		letter-spacing: normal;
		text-align: left;
		border: 1px solid #ced4da;
		  border-radius: .25rem !important;
		height: 45px !important;
		width: 100%;
		margin-bottom: 0;
	}
	label{
		font-family: Muli;
		font-size: 16px;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #1c1c1c;
	}



	.woocommerce-product-gallery__image{
		height: 375px;
	}
	.product-details .woocommerce-product-gallery figure a img{
		width: 100% !important;
		height: 100% !important;
		object-fit: cover !important;
	}

	.pd-top #sidebar{
		display: none !important;
	}

	section.related.products{
		display: none !important;
	}
	.main-share__product p{
		font-size: 16px;
		font-weight: 600;
		line-height: 1.5;
		color: #1c1c1c;
		margin-bottom: 0;
	}
	.main-share__product span{
		opacity: 0.5;
		font-size: 10px;
		font-weight: 600;
		line-height: 2.4;
		color: #1c1c1c;
	}







}

